@use './features/shared/styles/variables';
@use './features/shared/styles/button';
@use './features/shared/styles/mixins' as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:
        system-ui,
        -apple-system,
        sans-serif;
    color: #fff;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    background-color: #111;
}
