@use './features/shared/styles/variables';
@use './features/shared/styles/button';
@use './features/shared/styles/mixins' as *;
@use './features/shared/styles/layout';
@use './features/dashboard/styles/dashboard';
@use './features/vendors/styles/vendors';
@use './features/purchase-order/styles/purchase-order';
@use './features/shared/styles/home-page';
@use './features/shared/styles/pages';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
    color: var(--text-main);
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    background-color: var(--bg-app);
}
